.Checkout {
  color: #444;
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
  h2 {
    margin: 0;
  }
  p {
    font-size: 18px;
  }
  button {
    margin-top: 30px;
    min-width: 200px;
  }
}